<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% layout('./layout/page.ejs') %>

    <h1><%= title %></h1>
    <img src="<%= picture %>" alt=""/>
     <p>Welcome to <%= title %></p>
     <h4>BMW S1000 RR  — спортивный мотоцикл 
      (Супербайк) серийного производства BMW Motorrad. 
      На гоночной версии этого мотоцикла ездила команда 
      пилотов BMW Motorrad Motorsport на чемпионате 
      мира по езде на мотоциклах. Мотоцикл был 
      представлен в Мюнхене в апреле 2008 года. Разгон 
      до 100 км/ч происходит за 3,1 с. Максимальная 
      скорость мотоцикла 299 км/ч[1].<%=desc%></h4>
    </body>
  </html>
