<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <img src="<%= picture %>" alt=""/>
     <p>Welcome to <%= title %></p>
     <h4>Компания Harley-Davidson известна своим 
        стилем кастомизации, который привёл к 
        появлению мотоциклов в стиле чоппер. 
        Компания традиционно выпускала тяжёлые 
        мотоциклы с воздушным охлаждением в стиле 
        круизер с объёмом двигателя более 700 куб. см, 
        но расширила ассортимент, включив в него более 
        современные платформы VRSC (2002) и мотоциклы 
        среднего веса Street (2014).<%=desc%></h4>
    </body>
  </html>
