<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% layout('./layout/page.ejs') %>

    <h1><%= title %></h1>
    <img src="<%= picture %>" alt=""/>
     <p>Welcome to <%= title %></p>
     <h4>Racer — российский производитель 
        мотоциклов, скутеров и мопедов. 
        Отличительными характеристиками марки 
        являются экономичность и простота в 
        обслуживании. Для России и стран СНГ техника 
        Racer собирается в Барнауле[1] на бывшей 
        территории Алтайского Моторного Завода из 
        японских, тайваньских, китайских и российских 
        комплектующих[2].<%=desc%></h4>
    </body>
  </html>
